<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <title>Reviewing Beer</title>
</head>
<p>This is the partial for view 1.</p>
<div ng-controller="">
    <from>
        Beer Id:
        <input type="text" ng-model="beerId"><br>
        User Id:
        <input type="text" ng-model="userId"><br>
        Store Id:
        <input type="text" ng-model="storeId"><br>
        Stars(1-5):
        <input type="text" ng-model="stars"><br>
        Review:
        <input type="text" ng-model="review"><br>
        Price:
        <input type="text" ng-model="price"><br>
    </from>
    <button type="button" ng-click="submit()"> Submit</button>
</div>
<script src="angular.min.js"></script>
</body>
</html>