<!DOCTYPE html>
<html>
<head>
    <title>Boozr Beer Reviews </title>
    <script src="jquery.min.js"></script>
</head>
<body>
Boozr Beers<br>
Beer Id:
<input type="text" id="beerId">
<br>
<button onclick="sendRequest(null, false);">Get beers</button>

<div id="results">API Results</div>
</body>
</html>
<script>
    function sendRequest(callback, passSessionId) {
        var method = 'Beer/all';
        if (isNaN(document.getElementById('beerId').value)) {
            window.alert("The field beer id must be an integer");
        }
        else {
            if (document.getElementById('beerId').value != "") {
                method = 'Beer/searchById';
                var params = {
                    beverage_id: document.getElementById('beerId').value
                };
            }
            if (typeof(params) === "undefined") {
                params = {};
            }

            if (passSessionId) params.sessionId = jobifyApi.sessionId;

            $.ajax({
                url: "http://54.200.14.217/?/" + method,
                type: "post",
                data: params,
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    if (data.details) {
                        $("#results").append("</br> Beer: " + data.details);
                    }
                    else {
                        for (var i = 0; i < data.results.length; i++) {
                            $("#results").append("</br> Beer id: " + data.results[i].Beer_id +
                                    "</br> Name: " + data.results[i].Name +
                                    "</br> Brewery: " + data.results[i].Brewery +
                                    "</br> Type: " + data.results[i].Type +
                                    "</br>Alcohol by Volume: $" + data.results[i].Alcohol_By_Volume + "</br>");
                        }
                    }
                    if (callback) callback(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {

                }
            });
        }
    }
</script>
