<div ng-controller="BeerPageController as beerPage">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Brewery</th>
            <th>Type</th>
            <th>Alc</th>
            <th>Rating</th>
            <th>Price</th>

        </tr>
        </thead>
        <tbody>
        <tr id="beerPage" ng-repeat="results in beerPage.beerObject">
            <td>{{results.Name}}</td>
            <td>{{results.Brewery}}</td>
            <td>{{results.Type}}</td>
            <td>{{results.Alcohol_By_Volume}}</td>
            <td>{{results.Rating}}</td>
            <td>{{results.Price}}</td>
        </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <form ng-submit="beerPage.leaveReview()">
                <div class="form-group">
                    <label for="stars">Stars: </label>
                    <input ng-model="beerPage.newReviewStars" type="text" class="form-control" id="stars" placeholder="Stars 1 - 5">
                </div>
                <div class="form-group">
                     <label for="review">Price Paid: </label>
                     <input ng-model="beerPage.pricePaid" type="text" class="form-control" id="pricepaid" placeholder="">
                </div>
                <div class="form-group">
                    <label for="review">Review: </label>
                    <input ng-model="beerPage.newReview" type="text" class="form-control" id="review" placeholder="">
                </div>
                <div class="form-group">
                    <label for="storeName">Store Name: </label>
                    <input ng-model="beerPage.storeName" type="text" class="form-control" id="storeName" placeholder="">
                </div>
                <div class="form-group">
                    <label for="storeAddress">Store Address: </label>
                    <input ng-model="beerPage.storeAddress" type="text" class="form-control" id="storeAddress" placeholder="">
                </div>

                <button id="leaveReviewButton" type="submit" class="btn btn-default">Post review</button>
            </form>
        </div>
    </div>

     <table class="table table-striped">
            <thead>
            <tr>
                <th>Stars</th>
                <th>Review</th>
            </tr>
            </thead>
            <tbody>
            <tr id="beerReviews" ng-repeat="results in beerPage.reviews">
                <td>{{results.stars}}</td>
                <td>{{results.review}}</td>
            </tr>
            </tbody>
        </table>



</div>