<!DOCTYPE html>
<html>
<head>
    <title>Boozr Create Beer Review </title>
    <script src="../Controllers/jquery.min.js"></script>
</head>
<body>
Create or Update Beer Review
<br>
<br>
Review Id (only for updates):
<input type="text" id="reviewId"><br>
Beer Id:
<input type="text" id="beerId"><br>
User Id:
<input type="text" id="userId"><br>
Store Id:
<input type="text" id="storeId"><br>
Stars(1-5):
<input type="text" id="stars"><br>
Review:
<input type="text" id="review"><br>
Price:
<input type="text" id="price"><br>
<button onclick="sendCreateRequest('BeerReview/Create', null, false);">Save new beer review</button>
<button onclick="sendUpdateRequest('BeerReview/updateReview', null, false);">Update existing beer review</button>

<div id="results">API Results</div>
</body>
</html>
<script src="../Controllers/jquery.min.js"></script>
<script src="../Controllers/beerReviewController.js"></script>
