<div ng-controller="SearchController as search">
    <div class="row">
        <div class="col-xs-3">
        </div>
        <div class="col-xs-3" ng-click="search.searchTab = 'beer';">
            <button style="background:none;border:none;" id="simpleSearch"><h2>Simple Search</h2></button>
        </div>
        <div class="col-xs-3" ng-click="search.searchTab = 'advanced';">
            <button style="background:none;border:none;" id="advancedSearch"><h2>Advanced Beer Search</h2></button>
        </div>
    </div>
    <div ng-show="search.searchTab == 'beer'">
        <div class="row">
            
            <div class="col-sm-12 col-xs-12">
                <form role="form" ng-submit="search.search()">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="input-group input-group-lg">
                                 <div class="input-group-btn">
                                    <button id="searchType" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{search.searchType}} <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                      <li><a id="beerSelect" ng-click="search.searchType='Beer';search.searchToken = null;search.placeHolder=search.beerPrompt" href="#Search">Beer</a></li>
                                      <li><a id="userSelect" ng-click="search.searchType='User';search.searchToken = null;search.placeHolder=search.userPrompt" href="#Search">User</a></li>

                                    </ul>
                                  </div><!-- /btn-group -->
                                <input ng-model="search.searchToken" type="text" class="form-control" id="searchToken" ng-attr-placeholder="{{search.placeHolder}}" >
                                <div class="input-group-btn">
                                    <button id="search" type="submit" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped table-bordered" ng-show="search.searchType=='User'">
                    <thead class='thead-default'>
                    <tr>
                        <th>
                            <a href="#Search" ng-click="sortType = 'User_name'; sortReverse = !sortReverse ">
                                Username
                                <span ng-show="sortType == 'User_name' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'User_name' && sortReverse" class="fa fa-caret-up"></span>
                                <span ng-show="sortType != 'User_name'" class="fa fa-sort"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#Search" ng-click="sortType = 'User_location'; sortReverse = !sortReverse ">
                                Location
                                <span ng-show="sortType == 'User_location' && !sortReverse"class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'User_location' && sortReverse" class="fa fa-caret-up"></span>
                                <span ng-show="sortType != 'User_location'" class="fa fa-sort"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#Search" ng-click="sortType = 'User_email'; sortReverse = !sortReverse ">
                                Email
                                <span ng-show="sortType == 'User_email' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'User_email' && sortReverse" class="fa fa-caret-up"></span>
                                <span ng-show="sortType != 'User_email'" class="fa fa-sort"></span>
                            </a>
                        </th>
                        <th>Followers</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="userResult" ng-repeat="results in search.userResults | orderBy:sortType:sortReverse"
                        style="cursor: pointer;" ng-click="search.loadUser(results)">
                        <td>{{results.User_name}}</td>
                        <td>{{results.User_location}}</td>
                        <td>{{results.User_email}}</td>
                        <td>Coming Soon</td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-striped table-bordered" ng-show="search.searchType=='Beer'">
                    <thead class='thead-default'>
                    <tr>
                        <th>
                            <a href="#Search" ng-click="sortType = 'Name'; sortReverse = !sortReverse ">
                                Name
                                <span ng-show="sortType == 'Name' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'Name' && sortReverse" class="fa fa-caret-up"></span>
                                <span ng-show="sortType != 'Name'" class="fa fa-sort"></span>

                            </a>
                        </th>
                        <th>
                            <a href="#Search" ng-click="sortType = 'Brewery'; sortReverse = !sortReverse ">
                                Brewery
                                <span ng-show="sortType == 'Brewery' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'Brewery' && sortReverse" class="fa fa-caret-up"></span>
                                <span ng-show="sortType != 'Brewery'" class="fa fa-sort"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#Search" ng-click="sortType = 'Type'; sortReverse = !sortReverse ">
                                Type
                                <span ng-show="sortType == 'Type' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'Type' && sortReverse" class="fa fa-caret-up"></span>
                                <span ng-show="sortType != 'Type'" class="fa fa-sort"></span>
                            </a>
                        </th>

                        <th>
                            <a href="#Search" ng-click="sortType = 'Alcohol_By_Volume'; sortReverse = !sortReverse ">
                                Alc
                                <span ng-show="sortType == 'Alcohol_By_Volume' && !sortReverse"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'Alcohol_By_Volume' && sortReverse"
                                      class="fa fa-caret-up"></span>
                                <span ng-show="sortType != 'Alcohol_By_Volume'" class="fa fa-sort"></span>
                            </a>
                        </th>
                        <th>Rating</th>
                        <th>
                            <a href="#Search" ng-click="sortType = 'AvgPrice'; sortReverse = !sortReverse ">
                                Price
                                <span ng-show="sortType == 'AvgPrice' && !sortReverse"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'AvgPrice' && sortReverse"
                                      class="fa fa-caret-up"></span>
                                <span ng-show="sortType != 'Price'" class="fa fa-sort"></span>
                            </a>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="results in search.beerResults | orderBy:sortType:sortReverse">
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="beerResult" ng-repeat="results in search.beerResults | orderBy:sortType:sortReverse | filter:searchBeer"  ng-click="search.loadPage(results)" style="cursor: pointer;">
                        <td>{{results.Name}}</td>
                        <td>{{results.Brewery}}</td>
                        <td>{{results.Type}}</td>
                        <td>{{results.Alcohol_By_Volume}}</td>
                        <td>{{results.Rating}}</td>
                        <td>{{results.AvgPrice}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div ng-show="search.searchTab == 'advanced'">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">Name</span>
                            <input id= "advancedBeerName" type="text" class="form-control" ng-model="search.beerName">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">Brewery</span>
                            <input id="advancedBrewery" type="text" class="form-control" ng-model="search.brewery">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">Type</span>
                            <input id="advancedBeerType" type="text" class="form-control" ng-model="search.beerType">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div id="alcohol-content-input-group" class="input-group input-group-sm">
                            <span class="input-group-addon">Alcohol Content</span>
                            <input id="advancedBeerContent" type="text" class="form-control" ng-model="search.beerContent">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">Min Price</span>
                            <input id="advancedMinPrice" type="text" class="form-control" ng-model="search.minPrice">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">Max Price</span>
                            <input id="advancedMaxPrice" type="text" class="form-control" ng-model="search.maxPrice">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">Min Rating</span>
                            <input id="advancedMinRating" type="text" class="form-control" ng-model="search.minRating">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">Max Rating</span>
                            <input id="advancedMaxRating" type="text" class="form-control" ng-model="search.maxRating">
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <p><button class="btn btn-primary btn-lg" id="advancedSearchSubmit" role="button"
                      ng-click="search.advancedSearch()">Search</button></p>
            </div><!-- /.col-lg-6 -->
            <table class="table table-striped table-bordered">
                <thead class='thead-default'>
                <tr>
                    <th>
                        <a href="#Search" ng-click="sortType = 'Name'; sortReverse = !sortReverse ">
                            Name
                            <span ng-show="sortType == 'Name' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'Name' && sortReverse" class="fa fa-caret-up"></span>
                            <span ng-show="sortType != 'Name'" class="fa fa-sort"></span>

                        </a>
                    </th>
                    <th>
                        <a href="#Search" ng-click="sortType = 'Brewery'; sortReverse = !sortReverse ">
                            Brewery
                            <span ng-show="sortType == 'Brewery' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'Brewery' && sortReverse" class="fa fa-caret-up"></span>
                            <span ng-show="sortType != 'Brewery'" class="fa fa-sort"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#Search" ng-click="sortType = 'Type'; sortReverse = !sortReverse ">
                            Type
                            <span ng-show="sortType == 'Type' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'Type' && sortReverse" class="fa fa-caret-up"></span>
                            <span ng-show="sortType != 'Type'" class="fa fa-sort"></span>
                        </a>
                    </th>

                    <th>
                        <a href="#Search" ng-click="sortType = 'Alcohol_By_Volume'; sortReverse = !sortReverse ">
                            Alc
                                <span ng-show="sortType == 'Alcohol_By_Volume' && !sortReverse"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'Alcohol_By_Volume' && sortReverse"
                                      class="fa fa-caret-up"></span>
                            <span ng-show="sortType != 'Alcohol_By_Volume'" class="fa fa-sort"></span>
                        </a>
                    </th>
                    <th>Rating</th>
                    <th>Price</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="results in search.advancedBeerResults | orderBy:sortType:sortReverse">
                </tr>
                </thead>
                <tbody>
                <tr id="advancedBeerResults" ng-repeat="results in search.advancedBeerResults | orderBy:sortType:sortReverse | filter:searchBeer"  ng-click="search.loadPage(results)" style="cursor: pointer;">
                    <td>{{results.Name}}</td>
                    <td>{{results.Brewery}}</td>
                    <td>{{results.Type}}</td>
                    <td>{{results.Alcohol_By_Volume}}</td>
                    <td>{{results.Rating}}</td>
                    <td>{{results.AvgPrice}}</td>
                </tr>
                </tbody>
            </table>
        </div><!-- /container -->
    </div>
</div>

