<!DOCTYPE html>
<html>
<head>
    <title>Boozr User Creation</title>
    <script src="../Controllers/jquery.min.js"></script>
</head>
<body>
Boozr Users<br>

Username:
<input type="text" id="username"><br>
Password:
<input type="text" id="password"><br>
Email:
<input type="text" id="email">
<button onclick="sendVerificationEmail(null, false);">Send Confirmation Email</button>
<br>
Location:
<input type="text" id="location"><br>
<button onclick="sendRequest('Users/createAccount', null, false);">Create Account</button>


<div id="results">API Results</div>
</body>
</html>
<script src="../Controllers/jquery.min.js"></script>
<script src="../Controllers/userController.js"></script>
